<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--注入的目标对象-->
      <object id="PersonService" type="mainapp.PersonService, mainapp">
        <property name="UserName" value="owen pu" />
      </object>

      <object id="jobDetail" type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz">
        <!-- 不必继承IJob接口 -->
        <property name="TargetObject" ref="PersonService" />
        <property name="TargetMethod" value="GoToBed" />
      </object>

      <object id="jobDetailNonConcurrent" type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz">
        <property name="targetObject" ref="PersonService" />
        <property name="targetMethod" value="GoToBed" />
        <!-- 并发等待 -->
        <property name="concurrent" value="false" />
      </object>

      <object id="simpleTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="jobDetail" />
        <!-- 从几秒开始 -->
        <property name="startDelay" value="0s" />
        <!-- 每隔5秒重复 -->
        <property name="repeatInterval" value="15s" />
      </object>


      <object name="DiningService" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="mainapp.DiningService, mainapp" />
        <!-- 注入被调度的对象 -->
        <property name="JobDataAsMap">
          <dictionary>
            <entry key="UserName" value="pu pu" />
          </dictionary>
        </property>
      </object>

      <object id="cronTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="DiningService" />
        <!-- 每个5秒执行一次 -->
        <property name="cronExpressionString" value="0/5 * * * * ?" />
      </object>


      <object type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz">
        <!--触发器-->
        <property name="triggers">
          <list>
            <ref object="simpleTrigger" />
            <ref object="cronTrigger" />
          </list>
        </property>
      </object>
    </objects>
  </spring>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>