<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <!--name 提供服务的类名-->
      <!--behaviorConfiguraron 指定相关的行为配置 -->
      <service name="common.StreamedService.Streamed"
               behaviorConfiguration="MessageBehavior">
        <!--address - 服务地址-->
        <!--binding - 通信方式-->
        <!--contract - 服务契约-->
        <!--bindingConfiguration - 指定相关的绑定配置-->
        <endpoint
          address="Message/Streamed"
          binding="netTcpBinding"
          contract="common.StreamedService.IStreamed"
          bindingConfiguration="StreamedBindingConfiguration" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/Message/Streamed/"/>
            <add baseAddress="net.tcp://localhost:54321/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MessageBehavior">
          <!--httpGetEnabled - 使用get方式提供服务-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <!--transferMode - 指示通道是使用流处理模式还是缓冲模式来传输请求和响应消息-->
        <!--maxReceivedMessageSize - 在采用此绑定配置的通道上可接收的最大消息大小（单位：字节）-->
        <!--receiveTimeout - 在传输引发异常之前可用于完成读取操作的时间间隔-->
        <binding
          name="StreamedBindingConfiguration"
          transferMode="Streamed"
          maxReceivedMessageSize="1073741824"
          receiveTimeout="00:10:00" />
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>